<nav class="navbar navbar-expand-lg navbar-dark bg-dark" class="navbar">
    <a class="navbar-brand" routerLink="/" class="logo">{{ title }}</a>
    <a class="navbar-brand" routerLink="/" class="slogan">We've got everything.</a>
    <a class="navbar-brand" routerLink="/user" routerLinkActive="link-active">Account</a>
    <a class="navbar-brand" routerLink="/item" routerLinkActive="link-active">Shop</a>
    <a class="navbar-brand" routerLink="/cart" routerLinkActive="link-active">Cart</a>
</nav>
