a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navbar{
    background-color: black;
}
.logo{
    margin: 20px;
    font-family: 'DM Serif Display';
    font-size: 60px;
    text-decoration: none;
    color: white;
}
.slogan{
    font-family: 'Lexend Exa';
    font-weight: bold;
    font-size: xx-large;
    font-style: italic;
    color: rgb(136, 132, 132);
    margin-left: 10px;
    margin-right: 10px;
}
