.categoryChartTitle{
    margin-top: 43px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: x-large;
}
#Category_chart_div{
    margin-left: 43px;
    margin-right: 43px;
}
.trendChartTitle{
    margin-top: 43px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: x-large;
}