<!-- Table and divs that hold the charts  -->
<table class="columns">
    <tr>
        <td>
            <div class="categoryChartTitle" style="text-align: center;">Here's Your History of Purchases With Us</div>
            <div id="Category_chart_div" style="border: 1px solid #ccc"></div>
        </td>
        <td>
            <div class="trendChartTitle" style="text-align: center;">How Much Medicine You Have Purchased in the Last Month</div>
            <div id="Trend_chart_div" style="border: 1px solid #ccc"></div>
        </td>
    </tr>
</table>